@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
    format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* 디자인 */
/* html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
} */
/* body에 height:100%을 넣어도 상관 없는가? */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  overflow-y: auto;
}

.first_page {
  width: 100%;
  height: 100%;
  background: #ff7777;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  height: 100px;
  text-align: center;
}
h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: 'Bagel Fat One', cursive;

  font-size: 130px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

.ff {
  margin-right: 50px;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 60vw;
  height: 40vh;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* x버튼 */
.modalBox > button {
  position: absolute;
  top: 10px;
}

.modalBox > p {
  top: 80%;
  position: absolute;
}

.hidden {
  display: none;
}

.modal_content01 {
  width: 90%;
}

.modal_content01 .modal_content_part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content01 .modal_content_part > label {
  font-size: 30px;
  margin-right: 10px;
}

.modal_content01 .modal_content_part input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.modal_content02 .modal_content_part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content02 .modal_content_part > label {
  font-size: 30px;
  margin-right: 10px;
}

.modal_content02 .modal_content_part input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* second.html */
.second_page {
  font-family: 'TheJamsil5Bold';
  margin: 0px;
  min-height: 100%;
  /* overflow-y: auto; */
}
/* .second_page */
.second_page header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 20;
}
.second_page main {
  width: 90vw;
  margin-left: 1vw;
  position: relative;
  top: 200px;
  height: 100%;
}
.second_page h1 {
  margin: 0px;
  /* height: 100px; */
  text-align: center;
}
.second_page .head h1 span {
  position: relative;
  top: 30px;

  animation: bounce 0.5s ease infinite alternate;
  font-family: 'Bagel Fat One', cursive;

  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

.ff {
  margin-right: 50px;
}

@keyframes bounce {
  100% {
    top: 20px;
    /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2); */
  }
}
.second_page div.head {
  background-color: #ff7777;
  /* border-bottom: 5px solid #ff7777; */

  width: 100%;
  height: 100px;
  margin: 0 0 0 0;
}
.second_page .firstCategory {
  background-color: white;
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  line-height: 50px;
  height: 70px;
  /* border-radius: 20px; */
}
.second_page .firstCategory div {
  height: 50px;
  line-height: 70px;
  font-size: 20px;
}
.second_page .firstCategory > div:hover {
  transform: scale(1.1);
}

.second_page .region {
  position: absolute;
  top: 60px;
  right: 30px;
  padding: 5px 10px;
  border-radius: 10px;
}
.second_page .secondCategory {
  flex-direction: column;
  display: flex;
  width: 20%;
  max-width: 200px;
  position: fixed;
}
.second_page .secondCategory div {
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
}

/* 버튼 효과 */

.second_page .secondCategory > div {
  order: none;
  background-color: rgb(81, 154, 81);
  color: white;
  border-radius: 15px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.second_page .secondCategory > div:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* 바로 위에 .secondCategory > div 로 커버되는 것 같아서 주석처리하였음 */
/* .second_page .allview {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
.second_page .allview:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} */
/* 
#playType > div {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#playType > div:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} */

.second_page .tablelist {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 25%;
}
.second_page .introForSecond {
  width: 70%;
  margin-left: 30%;
}
.second_page table {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: aliceblue;
  border-radius: 20px;
  position: relative;
}
.second_page .hidden {
  display: none;
}
.second_page .selected {
  color: green;
  transform: scale(1.1);
  text-shadow: 1px 1px 2px grey;
  border-radius: 20px;
}

.second_page img {
  width: 80%;
  border-radius: 10px;
  max-height: 400px;

  /* width: 70%; */
}

.second_page .bi {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* 테이블 크기 조정 */
.second_page tr:first-child td:first-child {
  width: 50%;
}
.second_page tr:first-child td:nth-child(2) {
  width: 10%;
}
.second_page tr:first-child td:last-child {
  width: 40%;
}

/* 말풍선 */
.second_page .balloon {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 205px;
  height: 40px;
  bottom: 62px;
  background: #484848;
  color: white;
  border-radius: 10px;
  padding: 10px 12.8px;
  opacity: 0.7;
}

.second_page .balloon:after {
  border-top: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 40px;
  left: 160px;
}

td {
  border: 1px solid black;
}
.fullDiv {
  display: flex;
  position: relative;
  left: 4vw;
}
.leftDiv {
  display: inline-block;
  width: 65vw;
  height: 100vh;
  background-color: red;
  margin-right: 4vw;
}
.rightDiv {
  display: inline-block;
  width: 20vw;
  height: fit-content;
  background-color: blue;
}
.picture {
  /* height: 40vh; */
  background-color: pink;
}

.btn-primary {
  order: none;
  background-color: rgb(81, 154, 81);
  color: white;
  border-radius: 15px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 0px;
  position: relative;
  left: 10px;
}

.btn-primary:hover {
  transform: scale(0.9);
  background-color: rgb(81, 154, 81);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.carousel-item > img {
  width: 400px;
  /* margin: 0% 25%; */
}
