@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: "TheJamsil5Bold";
  margin: 0px;
  min-height: 100%;
  overflow-y: auto;
}
/* .second_page */
header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 20;
}
main {
  width: 90vw;
  margin-left: 1vw;
  position: relative;
  top: 200px;
  height: 100%;
}
h1 {
  margin: 0px;
  /* height: 100px; */
  text-align: center;
}
h1 span {
  position: relative;
  top: 30px;

  animation: bounce 0.5s ease infinite alternate;
  font-family: "Bagel Fat One", cursive;

  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

.ff {
  margin-right: 50px;
}

@keyframes bounce {
  100% {
    top: 20px;
    /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2); */
  }
}
div.head {
  background-color: #ff7777;

  width: 100%;
  height: 100px;
  margin: 0 0 0 0;
}
.firstCategory {
  background-color: beige;
  display: flex;
  justify-content: space-evenly;
  line-height: 70px;
  height: 70px;
  border-radius: 20px;
}
.firstCategory div {
  height: 50px;
  margin: 10px 0px;
  padding: 0px 20px;
  line-height: 50px;
}
.region {
  position: absolute;
  top: 60px;
  right: 30px;
  padding: 5px 10px;
  border-radius: 10px;
}
.secondCategory {
  flex-direction: column;
  display: flex;
  width: 20%;
  position: fixed;
}
.secondCategory div {
  margin: 20px 10px 20px 0px;
  text-align: center;
  text-decoration: none;
}

/* 버튼 효과 */

.secondCategory > div {
  order: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.secondCategory > div:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.allview {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
.allview:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#playType > div {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#playType > div:hover {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.tablelist {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 25%;
}
.introForSecond {
  width: 70%;
  margin-left: 30%;
}
table {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: aliceblue;
  border-radius: 20px;
  position: relative;
}
.hidden {
  display: none;
}
.selected {
  color: red;
  border-radius: 20px;
}

img {
  width: 200px;
  /* width: 70%; */
}

.bi {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}
